{% extends "layout.html" %}

{% block title %}
    Add Courses
{% endblock %}

{% block main %}
    <form action="/addcourse" method="post">
        </table>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="CourseName" placeholder="CourseName" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="CoursePeriod" placeholder="CoursePeriod" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add Course</button>
    </form>
{% endblock %}